 .bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p {
  margin: 0;
}
.section1 {
  height: 773px;
  background-image: url("./section1.png");
  background-size: cover;
}
.navigation {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.begin{
  width: 300px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 10px;
 
} 
.word1 {
  font-size: 18px;
  color: aliceblue;
}
.logo1 {
  width: 100px;
  height: 34px;
  display: flex;
}
.circle {
  width: 30px;
  height: 30px;
  background-color: aliceblue;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;}

.pure{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;

}
.h1{ 
  display: flex;
  /* justify-content: ; */
}
.word2{
  font-size: 80px;
  text-align: center;
  color: rgba(232, 237, 242, 0.72);
}
.word3 { 
  font-size: 150px;
  color:aliceblue
}
.word4 {
  font-size: 64px;
color: rgba(232, 237, 242, 0.72);}
.section2 {
  background-image: url(location-image.png);
  background-size: cover;
  height: 773px;  
}
.navigation2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  gap: 40px;
}
.card {
  width: 275.49px;
  height: 370px;
background-color: aqua;
  border-radius: 40px;
  box-shadow: -8px -8px 0 0 rgba(31, 114, 170,0.46), 8px 8px 0 0 rgba( 41, 114, 139, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1{
  background-image: url(/1.png);
  background-size: cover;
}
.img2{
  background-image: url(/2.png);
  background-size: cover;
}
.img3{
  background-image: url(/3.png);
  background-size: cover;
}
.img4{
  background-image: url(/4.png);
  background-size: cover;
}
.word5{
  color: rgba(253, 253, 254, 0.80);
  text-align: center;
  font-size: 25px;
}
.section3 {
  background-image: url(/Roadmap\ image.png);
  background-size: cover;
  height: 773px;
  position: relative;
}
.navigation3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.word8 {
  color: rgba(24, 24, 27, 0.7);
  padding-bottom: 50px;
}
.destination_list {
  width: 553px;
  height: 640px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.destination-card {
  height: 100px;
  width: 453px;
  border-radius: 120px;
  padding-left: 30px;
  padding-right: 30px;
}
.destination-card1 {
  background-color: #eee9d9;
}
.destination-card2 {
  background-color: rgba(139, 184, 193, 0.8);
}
.destination-card3 {
  background: rgba(170, 216, 215, 0.8);
}
.destination-card4 {
  background: rgba(139, 192, 189, 0.8);
}
.destination-card5 {
  background: rgba(151, 204, 224, 0.8);
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex {
  display: flex;
  align-items: center;
}
.word9 {
  font-size: 24px;
}
.word10 {
  font-size: 12px;
}
.circle2 {
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.icon {
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: left;
}
.map {
  width: 647px;
  height: 640px;
  display: flex;
  flex-direction: column-reverse;
}
.mappin {
  width: 34px;
  height: 34px;
  position: absolute;
}
.one {
  right: 241px;
  top: 449px;
}
.destination-card1:hover {
  border: 5px solid white;
}
.destination-card2:hover {
  border: 5px solid white;
}
.destination-card3:hover {
  border: 5px solid white;
}
.destination-card4:hover {
  border: 5px solid white;
}
.destination-card5:hover {
  border: 5px solid white;
}
.two {
  right: 454px;
  top: 306px;
}
.three {
  top: 428px;
  right: 626px;
}
.four {
  top: 680px;
  right: 454px;
}
.circle-image {
  width: 245px;
  height: 245px;
  background-image: url(/Frame\ 176.png);
  background-size: cover;
  position: absolute;
  top: 345px;
  right: 150px;
  display: none;
}
.destination-card1:hover ~ .circle-image {
  display: block;
}
.circle-image2 {
  width: 245px;
  height: 245px;
  background-image: url(/Frame\ 177.png);
  background-size: cover;
  position: absolute;
  top: 200px;
  right:350px;
  display: none;
}
.destination-card2:hover ~ .circle-image2 {
  display: block;}

.circle-image3 {
  width: 245px;
  height: 245px;
  background-image: url(/11111.png);
  background-size: cover;
  position: absolute;
  top: 360px;
  right: 450px;
  display: none;
}
.destination-card3:hover ~ .circle-image3 {
  display: block;
}
.circle-image4 {
  width: 245px;
  height: 245px;
  background-image: url(/Frame\ 178\ \(1\).png);
  background-size: cover;
  position: absolute;
  top: 180px;
  right: 520px;
  display: none;
}
.destination-card4:hover ~ .circle-image4 {
  display: block;
}

.circle-image5 {
  width: 245px;
  height: 245px;
  background-image: url(/Frame\ 179.png);
  background-size: cover;
  position: absolute;
  top: 190px;
  right: 360px;
  display: none;
}
.destination-card5:hover ~ .circle-image5 {
  display: block;
}
.section4 {
  background-image: url(/Price&Footer\ image.png);
  background-size: cover;
  height: 1120px;
}
.word11 {
  font-size: 42px;
  text-align: center;
}
.word12 {
  font-size: 20px;
  text-align: center;
  color: rgba(24, 24, 27, 0.70);
}
.package {
  width: 1200px;
  height: 527px;
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  gap: 24px;
}
.card2 {
  height: 527px;
  width: 384px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.neg {
  width: 384px;
  height: 94px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  gap: 15px;
}
.zurhh {
  width: 35px;
  height: 35px;
}
.word13 {
  font-size: 18px;
}
.hoyr {
  width: 384px;
  height: 433px;
}

.dolla {
  font-size: 40px;
}
.essential {
  font-size: 16px;
  color: #919191;
}
.flex-center3 {
  padding-left: 30px;
}
.inc {
  padding-top: 32px;
  padding-left: 40px;
  padding-bottom: 20px;
}
.checkk {
  width: 20px;
  height: 20px;
}
.word14 {
  font-size: 14px;
}
.list1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list2 {
  display: flex;
}
.select {
  width: 336px;
  height: 48px;
  margin-top: 50px;
  border-radius: var(--radius-rounded-full, 9999px);
  background: #a4d1e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.zurag{
  width: 1200px;
  height: 44px;
  display: flex;
  align-items: flex-end;
  margin-left: 200px;
  margin-top: 200px;
  gap: 20px;
  ;
}
.fb1 {
  width: 167px;
  height: 44px;
  border-radius: var(--radius-rounded-full, 9999px);
background: #FAFBFC;
display: flex;
gap: 10px;
padding-left: 10px;
align-items: center;
}
.fb {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: self-end;
}
